.footer {
    background-color: $color-dark;
    padding: 10rem 0;
    font-size: 1.3rem;

    @include responsive(tab-portrait) {
        padding: 8rem 0;
        // text-align: center;
    }

    &__logo-box {
        text-align: center;
        padding: 5rem;

        @include responsive(tab-portrait) {
            padding-bottom: 3rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        display: inline-block;

        @include responsive(tab-portrait) {
            text-align: center;
            width: 100%;
        }
    }
    

    &__list {
        list-style-type: none;
        // display: inline-block;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 4rem
        }
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-primary;
            text-transform: uppercase;
            transition: all .4s;
        }


        &:hover,
        &:active {
            color: $color-grey-light-1;
            transform: rotate(2deg) scale(1.1);
        }

    }

    &__copy {
        color: $color-grey-light-1;
        border-top: 1px solid $color-grey-light-2;
        padding-top: 2rem;
        width: 80%;
        margin-left: 10rem;

        @include responsive(tab-portrait) {
            text-align: center;
            float: none;
            margin-left: 0;
            width: 100%;
        }
    }
}